:root{
    --head-font:'Cambo', serif;
    --cont-font:'DM Sans', sans-serif;
    /* Color palette */
    --col-emph:#E6975E;
    --col-emph-dark:#da803f;
    --col-emph-light:#e6975e33;
    --col-blue:#152839;
    --col-blue-transparent:#152839d7;
    --col-white:#b6b5b5;
    --col-grey:#999999;
    --shadow: 0px 2px 15px -5px #34323fd3;
    --prog-gradient:linear-gradient(#3636368c,#2c2a35);
    /* font-sizes */
    --ds-fnt-lv1:36px;
    --ds-fnt-lv2:24px;
    --ds-fnt-lv3:18px;
    --ds-fnt-lv4:14px;
    --mb-fnt-lv1:24px;
    --mb-fnt-lv2:18px;
    --mb-fnt-lv3:14px;
    --mb-fnt-lv4:13px;

}

body{
    font-family: var(--cont-font);
    display:flex;
    flex-direction: column;
    min-width:250px;
    height:100vh
}
main{
    flex:1;
}

header{

    height:40px;
    width:100%;
    position:fixed;
    z-index:10
}
.main-page-content{
   margin-top:80px
}
header nav{
    padding:1rem;
    display:flex;
    justify-content: space-between;
}
.solid-nav{
    align-items: center;
}
.nav-p{
    display:flex;
    align-items:flex-end;
}
h1,h2,h3,h4,h5,h6{
    font-family:var(--head-font)
}
ul{
    padding:0;
    margin:0;
    list-style:none
}
a{
    text-decoration:none;
    color:var(--col-emph);
    transition:0.3s all
}
a:hover{
    color:var(--col-emph-dark)
}
.dark-solid{
    background-color: var(--col-blue);
}

.white-link{
    color:var(--col-white);
}
.white-link:hover{
    color:var(--col-white)
}
.white-txt{
    color:var(--col-white)
}
.orange-txt{
    color:var(--col-emph);
}
img{
    max-width:100%;
    object-fit: cover;
}
footer{
    background-color: var(--col-blue);
    padding:1rem
}
.top-button,.footer-heading,#copyRight{
    text-align:center;
}

.top-button{
    color:var(--col-white);
    font-size:1.5rem
}
.footer-heading{
    color:var(--col-emph)
}
#copyRight{
    color:var(--col-grey)
}
.wrapper-with-padding{
    padding:1.4em
}
/*overlays Styling*/
.about-widgets-wrapper,#landing-section{
    background-image:url("../images/Background.jpg");
    background-position:center;
    background-size:cover
}


#landing-section-content{
    display:inline-flex;
    flex-direction: column; 
    justify-content: space-around;
    min-height:100vh;
    width:100%
}
#main-content-wrapper{
    position:relative;
    margin-top:20px;
}
.ls-content-wrapper{
    display:flex;
    flex-direction:column;
    position:relative;
    padding-top:5rem
}

.overlay{
    background-color:var(--col-blue-transparent);

}
.welcome-text-wrapper,.welcome-image{
    padding:2rem;
    height:100%
}
.welcome-text-wrapper{
    
    min-width:250px
}
.welcome-image{
    overflow: hidden;
  

}
.welcome-image img{
    object-fit: cover;
}
.main-home-heading{
    position:relative;
    color:var(--col-emph)
}
.welcome-message{
    color:var(--col-white)
}
/* Main welcome page */
button{

    border:none;
    padding:0.5rem 1rem;
    background-color:var(--col-emph);
    border-radius:10px;
    cursor:pointer;
    transition:0.3s all
}

@media (min-width:545px){
    .ls-content-wrapper{
        margin-top:4em;
        flex-direction:row;
        align-items: center;
        justify-content: center;
    }
    .ls-content-wrapper>*{
   
        width:70%;
        max-width:600px;
       
        
    }
}

button:hover{
    background-color:var(--col-emph-dark)
}
.scroll-down{
    width:100%;
    text-align:center;
    bottom:3%
    

}
.scroll-down a{
    background-color:transparent;
    font-size:1.3rem;
    
}
.down-button{
    margin-left:2rem
}

.popular-programs,.popular-posts{
    padding:2rem;
}

.head-deco{
    transition:0.3s;
    border-bottom:3px solid var(--col-emph);
    width:50px
}
.program-icon{
    color:var(--col-grey)
}
.popular-program{
    margin-bottom:2rem;
    background:var(--prog-gradient);
    background-repeat: no-repeat;
    padding:1rem;
    border-radius: 20px;
    box-shadow:var(--shadow)
}
.popular-programs-list,.popular-posts-list{
    display:grid;
    grid-template:1fr/1fr;
   
}
.popular-programs-list{
    max-width:900px;
    margin:auto
}
.popular-posts-list{

    grid-gap:2rem 1rem
}
.post-meta{
    padding:1rem;
    background-color:var(--col-blue)
}
article{
    position:relative;
    display:flex;
    flex-direction:column;
    overflow:hidden;
    transition:0.4s all
}

.blog-image img{
    z-index:0;
    transition:0.2s all;
    overflow: hidden;
    object-fit:cover

}
.post-meta{
    z-index:4;
}
article:hover .blog-image img{
    transform:scale(1.1)
}

@media (min-width:450px){
    .popular-programs-list{
        grid-gap: 1rem ;
    }
    .section-heading{
        text-align:center
    }
    .head-deco{
        margin:auto
    }
}
@media (max-width:630px){
    .blog-image{
        max-height:400px;
        
    }
}

@media (min-width:450px) and (max-width:700px){
    .popular-programs-list{
        grid-template-columns: 1fr 1fr;
       
    }
}
@media (min-width:700px){
    .popular-programs-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
        
        
}
@media (min-width:530px) and (max-width:750px){
    .popular-posts-list{
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width:750px) and (max-width:1000px){
    .popular-posts-list{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media(min-width:1000px){
    .popular-posts-list{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}
/* Programs Page */
.popular-programs-ls{
    display:none
}
.popular-program-article{
    cursor:pointer;

}
.popular-program-article img{

    transition:0.3s all
}
.popular-program-article:hover img{
    transform:scale(.98); 
    border-radius:30px
}
.program-meta{
    padding:0.5rem;
    max-width:650px
}
.program-img{
    max-width:700px;
    border-radius:15px;
    overflow:hidden
}
.program{
    margin-bottom:4rem;
    
}
@media(max-width:680px){
    .programs-main-wrapper{
        padding:1.5rem
    }
}
@media(min-width:540px){
    .program{
        display:flex;
        align-items:center;
        
    }
    .program-meta{
        padding:5%
    }
    .program>*{
        flex:1
    }
}
@media(min-width:680px){
    .program{
        padding:5% 1%
    }
    .popular-programs-ls{
        display:block;
        background-image:url("../images/post5.jpg");
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow:hidden
    }
    .program-wrapper:nth-child(even) .program {
        flex-direction:row-reverse
    }
    .programs-list {
      display:flex;
      overflow:scroll;
      padding:2% 10%;
    }
    .programs-list article{
        min-width:200px;
        margin:1rem;
        text-align:center
    }
    .programs-list {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .programs-list::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    .popular-program-article img{
        border-radius:10px
    }

}
@media (min-width:900px){
    .program{
        padding:8%;
    }
}

/* Archive page */

.blog-category{
    margin-bottom:3rem
}
.blogs-list{
    max-width:950px;
    margin:auto
}
.category-blog-list{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:2rem 1rem;
}

@media(min-width:450px){

    .category-blog-list{
        text-align:center
    }
    .category-blog-list figcaption{
        padding:1rem
    }
    .blog-category button{
        align-self:center
    }
    .cta-button-wrapper{
        text-align:center
    }
}
@media(min-width:640px) and (max-width:900px){
    .category-blog-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(min-width:900px){
    .category-blog-list{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
/* About Page */
.about-widgets{
    padding:2rem 1rem
}
.widget-text{
    display:flex;
    margin:2rem 0
}
.widget-text p,.social-widget p{
    padding-left:40px;
    width:80%
}
.social-widget{
    display: flex;
    padding:0.5rem 0rem
}
.social-widget i{
    width:30px
}
/* Post page */
.blog-post-category{
    padding:1rem 0
}
.in{
    font-style: italic;
    color:var(--col-grey)
}
.post-categories{
    font-weight:500
}
.meta-small{
    line-height:0.5rem
}
.recent-posts-sidebar{
    padding:1.5rem
}
.recent-posts-sidebar h6{
    padding:0.8rem 0rem
}
@media (min-width:465px){
    .blog-meta{
        text-align:center
    }
}
@media (min-width:750px){
    .outer-wrapper{
        display:flex;
        max-width:1200px;
        margin:auto
    }
    .outer-wrapper main{
        flex:4
    }
    .outer-wrapper aside{
        flex:1;
       
    }
    .aside-recent-posts{
        margin-top:300px
    }
}
